.card {
            background-color: #f8ebeb;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px auto;
            max-width: 400px;
        }

        .card h2 {
            margin-top: 0;
            font-size: 1.5rem;
            color: rgb(244, 70, 7);
        }

        .card p {
            margin-bottom: 0.5rem;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(51, 62, 70);
            /* background-color: #094caa; */
           
        }